<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Sprite</key>
		<string>bottle</string>
		<key>Mass</key>
		<real>0.9</real>
		<key>XScale</key>
		<real>0.35</real>
		<key>YScale</key>
		<real>0.3</real>
		<key>Restitution</key>
		<integer>0</integer>
		<key>MinFlips</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>Sprite</key>
		<string>bottle2</string>
		<key>Mass</key>
		<real>0.9</real>
		<key>XScale</key>
		<real>0.35</real>
		<key>YScale</key>
		<real>0.3</real>
		<key>Restitution</key>
		<integer>0</integer>
		<key>MinFlips</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>Sprite</key>
		<string>bottle3</string>
		<key>Mass</key>
		<real>0.87</real>
		<key>XScale</key>
		<real>0.45</real>
		<key>YScale</key>
		<real>0.4</real>
		<key>Restitution</key>
		<integer>0</integer>
		<key>MinFlips</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>Sprite</key>
		<string>bottle4</string>
		<key>Mass</key>
		<real>0.87</real>
		<key>XScale</key>
		<real>0.45</real>
		<key>YScale</key>
		<real>0.4</real>
		<key>Restitution</key>
		<integer>0</integer>
		<key>MinFlips</key>
		<integer>9</integer>
	</dict>
	<dict>
		<key>Sprite</key>
		<string>bottle5</string>
		<key>Mass</key>
		<real>0.88</real>
		<key>XScale</key>
		<real>0.45</real>
		<key>YScale</key>
		<real>0.4</real>
		<key>Restitution</key>
		<integer>0</integer>
		<key>MinFlips</key>
		<integer>12</integer>
	</dict>
</array>
</plist>
